

<h3>Search Stocks</h3>
<%= form_tag search_stock_path, method: :get, remote: true do %>
  <div class="form-group row">
    <div class="col-sm-9">
      <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control form-control-lg"%>
    </div>
    <div class="col-sm-3">
      <%= button_tag type: "submit", class: "btn btn-success" do %>
        <%= 'Search' %>
      <% end %>
    </div>
  </div>
<% end  %>
<div id="result">
</div>
<% if !@stocks.empty? %>
  <div class="row">
    <div class="col-9">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ticker</th>
            <th scope="col">Name</th>
            <th scope="col">Last Price</th>
          </tr>
        </thead>
        <tbody>
          <% @stocks.each_with_index do |stock, i| %>
            <tr>
              <th scope="row"><%= i + 1 %></th>
              <td><%= stock.ticker %></td>
              <td><%= stock.name %></td>
              <td><%= stock.last_price %></td>
              <td><%= link_to "Remove", user_stock_path(stock), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>